<div class="center hero-unit">
    <h1>Paddy Powers - Hacker news application</h1>

    <h3>
      This is the home page for the sample application for Paddy Powers, where you can pull the HN front
      page and calculate the mean, median, and mode score for the news items instantly. Click on the button
      below to pull the news now and see them listed, as well as some statistics about them.
    </h3>

    <%= link_to "Pull the HN front page now!", pull_HN_front_page_items_path, 
                                class: "btn btn-large btn-primary main-button" %>
</div>
